/* norbert styles */


label {
  position: relative
}


.norbert {
  position: absolute;
  background: #efefef;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  color: #444;
  z-index: 20
}

.norbert-left {
  left: -105%;
  top: 10%;
  width: 100%;
}

.norbert-right {
  right: -105%;
  top: 10%;
  width: 100%;
}

.norbert-top {
  width: 100%;
  margin-left: -50%;
  left: 50%;
  top: -100%;
}

.norbert:after {
  color: #ccc;
  font-size: 2em;
  width: 100%;
  text-align: center
}

.norbert-bottom {
  right: 50%;
  bottom: -100%;
  width: 100%;
  margin-left: -50%;
  left: 50%;
}

.norbert-top:after {
  content: '\25BE';
  position: absolute;
  bottom: -15px;
  left: 0;
}

.norbert-bottom:after {
  content: '\25B4';
  position: absolute;
  top: -22px;
  left: 0;
}

.norbert-left:after {
  content: '\25B8';
  position: absolute;
  top: 20%;
  right: -12px;
  width: auto;
}

.norbert-right:after {
  content: '\25C2';
  position: absolute;
  top: 25%;
  left: -12px;
  width: auto;
}

@media only screen and (max-width: 800px){
  .norbert-top, .norbert-left, .norbert-right, .norbert-bottom {
    width: 100%;
    margin-left: -50%;
    left: 50%;
    top: -100%;
  }
  .norbert-bottom:after, .norbert-left:after, .norbert-right:after {
    content: '\25BE' !important;
    position: absolute !important;
    top: 32px !important;
    left: 50% !important;
  }
  .norbert-left:after {
    right: 50% !important;
  }
}
